body {
    margin: 0 auto;
    max-width: 400px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    width: inherit;
}

div {
    width: 400px;
    margin-bottom: 50px;
}

span {
    display: block;
    float: left;
    width: 100px;
}

button {
    width: inherit;
    padding: 10px;
    margin-top: 10px;
}

input {
    width: 300px;
    margin-top: 2px;
}